[submodule "tools/klee"]
	path = tools/klee
	url = https://github.com/redianthus/klee-testcomp.git
	shallow = true
[submodule "tools/owi"]
	path = tools/owi
	url = https://github.com/ocamlpro/owi.git
	shallow = true
[submodule "tools/symbiotic"]
	path = tools/symbiotic
	url = https://github.com/filipeom/symbiotic-testcomp.git
	shallow = true
[submodule "benchs/btree"]
	path = benchs/btree
	url = https://github.com/filipeom/wasm-dataset.git
	shallow = true
[submodule "benchs/sv-benchmarks"]
	path = benchs/sv-benchmarks
	url = https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks.git
	shallow = true
